# OpenAI API Configuration
OPENAI_API_KEY=your_openai_api_key_here

# MongoDB Configuration
# Local: mongodb://localhost:27017/
# Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_URI=mongodb://localhost:27017/
DB_NAME=admission_db

# Default Admin Credentials (Created on first run if DB is empty)
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASS=admin123
